@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
    /*background-color: #f4c4c4;*/
    background-color: #e9e9e9;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
    width: 100%; 
    height: 100vh;
}


/*------GENERAL SECTION------*/
.btn {
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  display: inline-block;
  
  padding: 6px 16px;
}

.btn:hover {
    background-color: #d9d9d9;
}
/*------NAVBAR SECTION------*/
.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
  
.hamburger-icon span {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

/*------HOME PAGE SECTION------*/
#homePage {   
    height: 100vw; 
    width: 100%; 

    /*border: 3px solid red;*/
}

#homePage .row{
    height: 100vh;
    width: 100%;
}

#homePage-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*------QUIZ PAGE SECTION------*/
#quiz {
    height: 100vh;
    width: 100%;

    /*border: 3px solid green;*/
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;

    flex-direction: column;
}

.back-section{
    color:grey;
}
.next-section{
    text-align: right;
    color:grey;
}

.quiz_responses .btn{
    margin: 10px;
}

/*------ADMIN PAGE SECTION------*/
tbody #image{
    width: 50px; 
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.table{
    margin-left: 3rem;
    margin-right: 2rem;
    border-radius: 6px;
}