@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

/*------GENERAL SECTION------*/
.btn {
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;

  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  display: inline-block;

  padding: 6px 16px;
}

.btn:hover {
  background-color: #d9d9d9;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/*------NAVBAR SECTION------*/

#homepage-logo img {
  width: 180px;
}

#nav_titles li a {
  --black : #000000;
  --grey : #78667450;
  --grey-blc : #230622dd;
  --navColor : ;
}

#nav ul {
  float: right;
  margin-right: 80px;
}

#nav ul li {
  display: inline-block;
  line-height: 80px;
}

#nav ul li a {
  color: var(--black);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 13px;
  text-transform: lowercase;
  text-decoration: none;
}

a.active, a:hover {
  background: var(--grey);
  transition: .5s;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  float: right;
  right: 20px;
  position: fixed;
  top: 25px;

}
/* responsive code */
@media (max-width: 952px) {
  /* table mode */
  nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 858px) {
  /* mobile mode */
   ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--black);
    top: 80px;
    left: -100%;
    padding-top: 80px;
    text-align: center;
    transition: .5s ease;
  }

  nav ul li a {
    font-size: 20px;
  }
  a.active, a:hover {
    background: none;
    color: var(--grey);
    text-shadow: 0 10px 15px var(--grey);
  }

  
  
  .hamburger-icon span {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3 ease-in-out;
  }
}

/*------HOME PAGE SECTION------*/
/* Heading */
#homePage-info h1 {
  padding-left: 30px;
}

#homePage-info p {
  padding-left: 30px;
}

#homePage-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Grid Container with 2 colums */
.grid-container-homepage {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 760px;
  justify-content: center;
  align-items: center;

  display: flex;
  height: 100vh;
}

/* Grid Item for Homepage */
.grid-item-homepage {
  width: 100%;
  height: 100%;
}

/* Making images fit inside grids */
.grid-item-homepage img {
  width: 100%;
  height: 100%;
  padding: 1rem;
  object-fit: contain;
}

/*------QUIZ PAGE SECTION------*/
#quiz {
  height: 100vh;
  width: 100%;

  /*border: 3px solid green;*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  flex-direction: column;
}

.back-section {
  color: grey;
}
.next-section {
  text-align: right;
  color: grey;
}

.quiz_responses .btn {
  margin: 10px;
}

/*------ADMIN PAGE SECTION------*/
.avatar{
  width: 75px;
  height: 75px;
  border-radius: 1rem;
}

.custom-table-responsive {
  padding: 10px;
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 4px;

  background: rgba(255, 255, 255, 0.60);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/*------SKINCARE LIST PAGE SECTION------*/
.container-skinCare{
  margin: 1rem;
  padding: 1rem;

  border: solid 2px lightgray;
  border-radius: 4px;
}


/*------PRODUCT PAGE SECTION------*/

.grid-container-Productpage {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 760px;
    justify-content: center;
    align-items: center;
  }

/* Image */
#productPage .productPage__image img{
    width:534px;
    border-width:0px;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    position:relative;
    left:137px;
    height:448px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
}

#productPage .productPage__image{
    position:relative;
    top:0px;
    height:100%;
    display:inline-block;
    margin-top:146px;
}

#similarSpan{
  font-size:30px;
  position:relative;
  top:60px;
}

.carac {
    display: flex;
    font-size: 30px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.productPage__info {
    position:relative;
    height:100%;
    display:inline-block;
    margin-top:146px;
}

   .content-item {
    padding:30px 0;
	background-color:#FFFFFF;
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#comments {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}

#comments form {
	margin-bottom:30px;
}

#comments .btn {
	margin-top:7px;
}

#comments form fieldset {
	clear:both;
}

#comments form textarea {
	height:100px;
}

#comments .media {
	border-top:1px dashed #DDDDDD;
	padding:20px 0;
	margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
	max-width:100px;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

#comments .media-detail {
	margin:0;
}

#comments .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

#comments .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}

/* -------------------Basics-------------------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Example: 3 columns with equal widths */
  grid-gap: 10px; /* Gap between grid items */
}